<h3>
    <span class="fas fa-trash-alt"></span>
    {% trans %}Delete form submission{% endtrans %}
    {{ pageSetVar('title', 'Delete form submission'|trans) }}
</h3>

{{ form_start(form) }}
{{ form_errors(form) }}

<fieldset>
    <legend>{% trans %}Confirmation prompt{% endtrans %}</legend>
    <p class="alert alert-warning">{% trans with { '%s%': submission.name } %}Do you really want to delete form submission '%s%'?{% endtrans %}</p>

    {{ form_row(form.sid) }}
</fieldset>
<fieldset>
    <legend>{% trans %}Submission information{% endtrans %}</legend>
    <div class="form-group">
        <label class="col-md-3 control-label">{% trans %}Form #{% endtrans %}</label>
        <div class="col-md-9">
            <p class="form-control-static">{{ submission.form }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">{% trans %}Contact ID{% endtrans %}</label>
        <div class="col-md-9">
            <p class="form-control-static">{{ submission.cid }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">{% trans %}Date{% endtrans %}</label>
        <div class="col-md-9">
            <p class="form-control-static">{{ submission.createdDate|format_date('short', 'short') }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">{% trans %}Name{% endtrans %}</label>
        <div class="col-md-9">
            <p class="form-control-static"><a href="#" class="tooltips" title="{% trans with {'%email%': submission.email, '%uid%': submission.createdBy.uid} %}Email: %email% - UID: %uid%{% endtrans %}">{{ submission.name }}</a></p>
        </div>
    </div>
</fieldset>

<div class="form-group">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.delete) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>

{{ form_end(form) }}
