{% form_theme form with [
    'ZikulaFormExtensionBundle:Form:bootstrap_3_zikula_admin_layout.html.twig',
    'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ polyfill() }}
{{ adminHeader() }}
<div class="container-fluid">
    <div class="row">
        <h3>
            <span class="fa fa-trash-o"></span>
            {{ __('Delete form submission') }}
            {{ pageSetVar('title', __('Delete form submission')) }}
        </h3>

        {{ form_start(form) }}
        {{ form_errors(form) }}

        <fieldset>
            <legend>{{ __('Confirmation prompt') }}</legend>
            <p class="alert alert-warning">{{ __f("Do you really want to delete form submission '%s'?", { '%s': submission.name }) }}</p>

            {{ form_row(form.sid) }}
        </fieldset>
        <fieldset>
            <legend>{{ __('Submission information') }}</legend>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ __('Form #') }}</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{ submission.form }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ __('Contact ID') }}</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{ submission.cid }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ __('Date') }}</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{ submission.createdDate|localizeddate('short', 'short') }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{ __('Name') }}</label>
                <div class="col-sm-9">
                    <p class="form-control-static"><a href="#" class="tooltips" title="{{ __f('Email: %1$s - UID: %2$s', {'%1$s': submission.email, '%2$s': submission.createdBy.uid}) }}">{{ submission.name }}</a></p>
                </div>
            </div>
        </fieldset>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.delete) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>

        {{ form_end(form) }}
    </div>
</div>
{{ adminFooter() }}
