<h3>
    <span class="fas fa-eye"></span>
    {% trans %}View submitted form data{% endtrans %}
    {{ pageSetVar('title', 'View submitted form data'|trans) }}
</h3>
<table class="table table-bordered table-striped">
    <colgroup>
        <col id="cDate" />
        <col id="cName" />
        <col id="cIpAddress" />
        <col id="cHostName" />
        <col id="cContactId" />
    </colgroup>
    <thead>
        <tr>
            <th id="hDate" scope="col">{% trans %}Date{% endtrans %}</th>
            <th id="hName" scope="col">{% trans %}Name{% endtrans %}</th>
            <th id="hIpAddress" scope="col">{% trans %}IP address{% endtrans %}</th>
            <th id="hHostName" scope="col">{% trans %}Hostname{% endtrans %}</th>
            <th id="hContactId" scope="col">{% trans %}Contact ID{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="hDate">{{ submission.createdDate|format_date('short', 'short') }}</td>
            <td headers="hName"><a href="#" class="tooltips" title="{% trans with {'%email%': submission.email, '%uid%': submission.createdBy.uid} %}Email: %email% - UID: %uid%{% endtrans %}">{{ submission.name }}</a></td>
            <td headers="hIpAddress">{{ submission.ipAddress }}</td>
            <td headers="hHostName">{{ submission.hostName }}</td>
            <td headers="hContactId">{{ submission.cid }}</td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-striped">
    <colgroup>
        <col id="cUrl" />
        <col id="cCompany" />
        <col id="cPhoneNumber" />
        <col id="cLocation" />
    </colgroup>
    <thead>
        <tr>
            <th id="hUrl" scope="col">{% trans %}Website{% endtrans %}</th>
            <th id="hCompany" scope="col">{% trans %}Company{% endtrans %}</th>
            <th id="hPhoneNumber" scope="col">{% trans %}Phone number{% endtrans %}</th>
            <th id="hLocation" scope="col">{% trans %}Location{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="hUrl">{% if submission.url != '' %}<a href="{{ submission.url }}" title="{% trans %}Visit website{% endtrans %}" target="_blank">{{ submission.url }}</a>{% else %}{% trans %}None{% endtrans %}{% endif %}</td>
            <td headers="hCompany">{{ submission.company|default('None'|trans) }}</td>
            <td headers="hPhoneNumber">{{ submission.phoneNumber|default('None'|trans) }}</td>
            <td headers="hLocation">{{ submission.location|default('None'|trans) }}</td>
        </tr>
    </tbody>
</table>
{% if submission.customData|length > 0 %}
    <table class="table table-bordered table-striped">
        <caption>{% trans %}Custom fields{% endtrans %}</caption>
        <colgroup>
            <col id="cCustomFields" />
        </colgroup>
        <thead>
            <tr>
                <th id="hCustomFieldName" scope="col">{% trans %}Name{% endtrans %}</th>
                <th id="hCustomFieldValue" scope="col">{% trans %}Value{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in submission.customData %}
                <tr>
                    <td headers="hCustomFieldName">{{ key }}</td>
                    <td headers="hCustomFieldValue">{{ value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% if submission.comment != '' %}
    <table class="table table-bordered table-striped">
        <colgroup>
            <col id="cComment" />
        </colgroup>
        <thead>
            <tr>
                <th id="hComment" scope="col">{% trans %}Comment{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td headers="hComment">{{ submission.comment|safeHtml|nl2br }}</td>
            </tr>
        </tbody>
    </table>
{% endif %}
