{{ adminHeader() }}
<h3>
    <span class="fa fa-eye"></span>
    {{ __('View submitted form data') }}
    {{ pageSetVar('title', __('View submitted form data')) }}
</h3>
<table class="table table-bordered table-striped">
    <colgroup>
        <col id="cDate" />
        <col id="cName" />
        <col id="cIpAddress" />
        <col id="cHostName" />
        <col id="cContactId" />
    </colgroup>
    <thead>
        <tr>
            <th id="hDate" scope="col">{{ __('Date') }}</th>
            <th id="hName" scope="col">{{ __('Name') }}</th>
            <th id="hIpAddress" scope="col">{{ __('IP address') }}</th>
            <th id="hHostName" scope="col">{{ __('Hostname') }}</th>
            <th id="hContactId" scope="col">{{ __('Contact ID') }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="hDate">{{ submission.createdDate|localizeddate('short', 'short') }}</td>
            <td headers="hName"><a href="#" class="tooltips" title="{{ __f('Email: %1$s - UID: %2$s', {'%1$s': submission.email, '%2$s': submission.createdBy.uid}) }}">{{ submission.name }}</a></td>
            <td headers="hIpAddress">{{ submission.ipAddress }}</td>
            <td headers="hHostName">{{ submission.hostName }}</td>
            <td headers="hContactId">{{ submission.cid }}</td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered table-striped">
    <colgroup>
        <col id="cUrl" />
        <col id="cCompany" />
        <col id="cPhoneNumber" />
        <col id="cLocation" />
    </colgroup>
    <thead>
        <tr>
            <th id="hUrl" scope="col">{{ __('Website') }}</th>
            <th id="hCompany" scope="col">{{ __('Company') }}</th>
            <th id="hPhoneNumber" scope="col">{{ __('Phone number') }}</th>
            <th id="hLocation" scope="col">{{ __('Location') }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="hUrl">{% if submission.url != '' %}<a href="{{ submission.url }}" title="{{ __('Visit website') }}" target="_blank">{{ submission.url }}</a>{% else %}{{ __('None') }}{% endif %}</td>
            <td headers="hCompany">{{ submission.company|default(__('None')) }}</td>
            <td headers="hPhoneNumber">{{ submission.phoneNumber|default(__('None')) }}</td>
            <td headers="hLocation">{{ submission.location|default(__('None')) }}</td>
        </tr>
    </tbody>
</table>
{% if submission.customData|length > 0 %}
    <table class="table table-bordered table-striped">
        <caption>{{ __('Custom fields') }}</caption>
        <colgroup>
            <col id="cCustomFields" />
        </colgroup>
        <thead>
            <tr>
                <th id="hCustomFieldName" scope="col">{{ __('Name') }}</th>
                <th id="hCustomFieldValue" scope="col">{{ __('Value') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in submission.customData %}
                <tr>
                    <td headers="hCustomFieldName">{{ key }}</td>
                    <td headers="hCustomFieldValue">{{ value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% if submission.comment != '' %}
    <table class="table table-bordered table-striped">
        <colgroup>
            <col id="cComment" />
        </colgroup>
        <thead>
            <tr>
                <th id="hComment" scope="col">{{ __('Comment') }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td headers="hComment">{{ submission.comment|safeHtml|nl2br }}</td>
            </tr>
        </tbody>
    </table>
{% endif %}
{{ adminFooter() }}
