{{ adminHeader() }}
<h3>
    <span class="fa fa-envelope"></span>
    {{ __('View form submissions') }}
    {{ pageSetVar('title', __('View form submissions')) }}
</h3>
<table class="table table-bordered table-striped">
    <colgroup>
        <col id="cId" />
        <col id="cForm" />
        <col id="cContactId" />
        <col id="cDate" />
        <col id="cName" />
        <col id="cActions" />
    </colgroup>
    <thead>
        <tr>
            <th id="hId" scope="col">{{ __('ID') }}</th>
            <th id="hForm" scope="col">{{ __('Form #') }}</th>
            <th id="hContactId" scope="col">{{ __('Contact ID') }}</th>
            <th id="hDate" scope="col">{{ __('Date') }}</th>
            <th id="hName" scope="col">{{ __('Name') }}</th>
            <th id="hActions" scope="col" class="text-right nowrap">{{ __('Actions') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for submission in submissions %}
            <tr>
                <td headers="hId">{{ submission.sid }}</td>
                <td headers="hForm">{{ submission.form }}</td>
                <td headers="hContactId">{{ submission.cid }}</td>
                <td headers="hDate">{{ submission.createdDate|localizeddate('short', 'short') }}</td>
                <td headers="hName"><a href="#" class="tooltips" title="{{ __f('Email: %1$s - UID: %2$s', {'%1$s': submission.email, '%2$s': submission.createdBy.uid}) }}">{{ submission.name }}</a></td>
                <td headers="hActions" class="text-right nowrap">
                    <a href="{{ path('zikulaformiculamodule_submission_display', {sid: submission.sid}) }}" class="fa fa-eye fa-lg tooltips" title="{{ __('View form submission') }}"></a>
                    <a href="{{ path('zikulaformiculamodule_submission_delete', {sid: submission.sid}) }}" class="fa fa-trash fa-lg tooltips" title="{{ __('Delete form submission') }}"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ __('No submissions found.') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{{ adminFooter() }}
