{{ include('@ZikulaFormiculaModule/Form/2/userHeader.html.twig') }}

<p class="alert alert-info">
    {{ __('Thank you for your questions/comments to our website!') }}<br />
    {{ __('We will reply as soon as possible.') }}
</p>
<p>{{ __('This data was sent to us:') }}</p>

<table class="table table-bordered table-striped">
    <caption>{{ __('This data was sent to us:') }}</caption>
    <colgroup>
        <col id="cField" style="width: 50%" />
        <col id="cValue" style="width: 50%" />
    </colgroup>
    <thead>
        <th id="hField" scope="col">{{ __('Field') }}</th>
        <th id="hValue" scope="col">{{ __('Value') }}</th>
    </thead>
    <tbody>
        <tr>
            <th headers="hField" id="hName" scope="row">{{ __('Your name') }}</th>
            <td headers="hValue hName">{{ userData.name }}</span>
        </tr>
{% if modVars.showCompany and userData.company %}
        <tr>
            <th headers="hField" id="hCompany" scope="row">{{ __('Company') }}</th>
            <td headers="hValue hCompany">{{ userData.company }}</span>
        </tr>
{% endif %}
        <tr>
            <th headers="hField" id="hEmail" scope="row">{{ __('Email') }}</th>
            <td headers="hValue hEmail">{{ userData.emailAddress }}</span>
        </tr>
{% if modVars.showPhone and userData.phone %}
        <tr>
            <th headers="hField" id="hPhone" scope="row">{{ __('Phone number') }}</th>
            <td headers="hValue hPhone">{{ userData.phone }}</span>
        </tr>
{% endif %}
{% if modVars.showUrl and userData.url %}
        <tr>
            <th headers="hField" id="hUrl" scope="row">{{ __('Website') }}</th>
            <td headers="hValue hUrl">{{ userData.url }}</span>
        </tr>
{% endif %}
{% if modVars.showLocation and userData.location %}
        <tr>
            <th headers="hField" id="hLocation" scope="row">{{ __('Location') }}</th>
            <td headers="hValue hLocation">{{ userData.location }}</span>
        </tr>
{% endif %}
{% for field in customFields %}
        <tr>
            <th headers="hField" id="hCustom{{ field.name }}" scope="row">{{ field.name }}</th>
            <td headers="hValue hCustom{{ field.name }}">{{ field.data }}</span>
        </tr>
{% endfor %}
{% if modVars.showComment and userData.comment %}
        <tr>
            <th headers="hField" id="hComment" scope="row">{{ __('Comment') }}</th>
            <td headers="hValue hComment">{{ userFormat == 'html' ? userData.comment : userData.comment|nl2br }}</span>
        </tr>
{% endif %}
{% if modVars.showFileAttachment and userData.fileUpload %}
        <tr>
            <th headers="hField" id="hAttachment" scope="row">{{ __('Attached file') }}</th>
            <td headers="hValue hAttachment">{{ userData.fileUpload }}</span>
        </tr>
{% endif %}
    </tbody>
</table>

{% if modVars.sendConfirmationToUser %}
<p class="alert alert-{{ sentToUser ? 'success' : 'danger' }}">
    {% if sentToUser %}
    {{ __('Confirmation of your submission will be emailed to you in a few minutes.') }}
    {% else %}
    {{ __('There was an internal error when sending confirmation mail to you.') }}
    {% endif %}
</p>
{% endif %}

{{ include('@ZikulaFormiculaModule/Form/2/userFooter.html.twig') }}
