<h3>
    <span class="fas fa-trash-alt"></span>
    {% trans %}Delete contact{% endtrans %}
    {{ pageSetVar('title', 'Delete contact'|trans) }}
</h3>

{{ form_start(form) }}
{{ form_errors(form) }}

<fieldset>
    <legend>{% trans %}Confirmation prompt{% endtrans %}</legend>
    <p class="alert alert-warning">{% trans with { '%s%': contact.name } %}Do you really want to delete contact '%s%'?{% endtrans %}</p>

    {{ form_row(form.cid) }}
</fieldset>
<fieldset>
    <legend>{% trans %}Contact information{% endtrans %}</legend>
    <div class="form-group">
        <label class="col-md-3 control-label">{% trans %}Contact name{% endtrans %}</label>
        <div class="col-md-9">
            <p class="form-control-static">{{ contact.name }}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">{% trans %}Email address{% endtrans %}</label>
        <div class="col-md-9">
            <p class="form-control-static">{{ contact.email }}</p>
        </div>
    </div>
</fieldset>

<div class="form-group">
    <div class="col-md-9 offset-md-3">
        {{ form_widget(form.delete) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>

{{ form_end(form) }}
