<h3>
    <span class="fa fa-group"></span>
    {% trans %}View contacts{% endtrans %}
    {{ pageSetVar('title', 'View contacts'|trans) }}
</h3>
<table class="table table-bordered table-striped">
    <colgroup>
        <col id="cId" />
        <col id="cName" />
        <col id="cEmail" />
        <col id="cPublic" />
        <col id="cActions" />
    </colgroup>
    <thead>
        <tr>
            <th id="hId" scope="col">{% trans %}ID{% endtrans %}</th>
            <th id="hName" scope="col">{% trans %}Name{% endtrans %}</th>
            <th id="hEmail" scope="col">{% trans %}Email{% endtrans %}</th>
            <th id="hPublic" scope="col">{% trans %}Public{% endtrans %}</th>
            <th id="hActions" scope="col" class="text-right nowrap">{% trans %}Actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for contact in contacts %}
            <tr>
                <td headers="hId">{{ contact.cid }}</td>
                <td headers="hName">{{ contact.name }}</td>
                <td headers="hEmail">{{ contact.email }}</td>
                <td headers="hPublic">{{ contact.public|yesNo }}</td>
                <td headers="hActions" class="text-right nowrap">
                    {% if contact.allowEdit %}
                        <a href="{{ path('zikulaformiculamodule_contact_edit', { cid: contact.cid }) }}" class="fa fa-pencil fa-lg tooltips" title="{% trans %}Edit contact{% endtrans %}"></a>
                    {% endif %}
                    {% if contact.allowDelete %}
                        <a href="{{ path('zikulaformiculamodule_contact_delete', { cid: contact.cid }) }}" class="fa fa-trash fa-lg tooltips" title="{% trans %}Delete contact{% endtrans %}"></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{% trans %}No contacts found.{% endtrans %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
