{{ adminHeader() }}
<h3>
    <span class="fa fa-group"></span>
    {{ __('View contacts') }}
    {{ pageSetVar('title', __('View contacts')) }}
</h3>
<table class="table table-bordered table-striped">
    <colgroup>
        <col id="cId" />
        <col id="cName" />
        <col id="cEmail" />
        <col id="cPublic" />
        <col id="cActions" />
    </colgroup>
    <thead>
        <tr>
            <th id="hId" scope="col">{{ __('ID') }}</th>
            <th id="hName" scope="col">{{ __('Name') }}</th>
            <th id="hEmail" scope="col">{{ __('Email') }}</th>
            <th id="hPublic" scope="col">{{ __('Public') }}</th>
            <th id="hActions" scope="col" class="text-right nowrap">{{ __('Actions') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for contact in contacts %}
            <tr>
                <td headers="hId">{{ contact.cid }}</td>
                <td headers="hName">{{ contact.name }}</td>
                <td headers="hEmail">{{ contact.email }}</td>
                <td headers="hPublic">{{ contact.public|yesNo }}</td>
                <td headers="hActions" class="text-right nowrap">
                    {% if contact.allowEdit %}
                        <a href="{{ path('zikulaformiculamodule_contact_edit', { cid: contact.cid }) }}" class="fa fa-pencil tooltips" title="{{ __('Edit contact') }}">{{ __('Edit contact') }}</a>
                    {% endif %}
                    {% if contact.allowDelete %}
                        <a href="{{ path('zikulaformiculamodule_contact_delete', { cid: contact.cid }) }}" class="fa fa-trash tooltips" title="{{ __('Delete contact') }}">{{ __('Delete contact') }}</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ __('No contacts found.') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{{ adminFooter() }}
