{{ include('@ZikulaFormiculaModule/Form/3/userHeader.html.twig') }}

<div class="alert alert-info">
    <p>{{ __f('Thank you %s for your reservation.', { '%s': userData.uname }) }}<p/>
    <p>{{ __f('An email with the filled in data will be sent to our and your email address (%s). We will reply as soon as possible.', { '%s': userData.uemail }) }}</p>
</div>
<p>{{ __('This data was sent to us:') }}</p>

<table class="table table-bordered table-striped">
    <caption>{{ __('This data was sent to us:') }}</caption>
    <colgroup>
        <col id="cField" style="width: 50%" />
        <col id="cValue" style="width: 50%" />
    </colgroup>
    <thead>
        <th id="hField" scope="col">{{ __('Field') }}</th>
        <th id="hValue" scope="col">{{ __('Value') }}</th>
    </thead>
    <tbody>
        <tr>
            <th headers="hField" id="hName" scope="row">{{ __('Your name') }}</th>
            <td headers="hValue hName">{{ userData.uname }}</span>
        </tr>
{% if getModVar('ZikulaFormiculaModule', 'showCompany') and userData.company %}
        <tr>
            <th headers="hField" id="hCompany" scope="row">{{ __('Company') }}</th>
            <td headers="hValue hCompany">{{ userData.company }}</span>
        </tr>
{% endif %}
        <tr>
            <th headers="hField" id="hEmail" scope="row">{{ __('Email') }}</th>
            <td headers="hValue hEmail">{{ userData.uemail }}</span>
        </tr>
{% if getModVar('ZikulaFormiculaModule', 'showPhone') and userData.phone %}
        <tr>
            <th headers="hField" id="hPhone" scope="row">{{ __('Phone number') }}</th>
            <td headers="hValue hPhone">{{ userData.phone }}</span>
        </tr>
{% endif %}
{% if getModVar('ZikulaFormiculaModule', 'showUrl') and userData.url %}
        <tr>
            <th headers="hField" id="hUrl" scope="row">{{ __('Website') }}</th>
            <td headers="hValue hUrl">{{ userData.url }}</span>
        </tr>
{% endif %}
{% if getModVar('ZikulaFormiculaModule', 'showLocation') and userData.location %}
        <tr>
            <th headers="hField" id="hLocation" scope="row">{{ __('Location') }}</th>
            <td headers="hValue hLocation">{{ userData.location }}</span>
        </tr>
{% endif %}
{% for field in customFields %}
        <tr>
            <th headers="hField" id="hCustom{{ field.name }}" scope="row">{{ field.name }}</th>
            <td headers="hValue hCustom{{ field.name }}">{{ field.data }}</span>
        </tr>
{% endfor %}
{% if getModVar('ZikulaFormiculaModule', 'showComment') and userData.comment %}
        <tr>
            <th headers="hField" id="hComment" scope="row">{{ __('Comment') }}</th>
            <td headers="hValue hComment">{{ userFormat == 'html' ? userData.location : userData.location|nl2br }}</span>
        </tr>
{% endif %}
    </tbody>
</table>

<p class="alert alert-{{ sentToUser ? 'success' : 'danger' }}">
    {% if sentToUser %}
    {{ __('Confirmation of your submission will be emailed to you in a few minutes.') }}
    {% else %}
    {{ __('There was an internal error when sending confirmation mail to you.') }}
    {% endif %}
</p>

{{ include('@ZikulaFormiculaModule/Form/3/userFooter.html.twig') }}
